.time {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 3.9px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  text-align: center;

  position: relative;
  top: 39%;
  transform: translateY(-50%);

  .hour {
    font-size: 60px;
  }

  .date {
    font-size: 17px;
  }
}
