@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Ubuntu:400,500');

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

hr {
  height: 1px;
  border: 0;
  background-color: rgba(0,0,0,0.20);
  margin-left: 29px;
  margin-right: 35px;
}
